@import "../../../scss/index.scss";

.calendar {
  position: relative;
  color: $primary_color_dark;
  margin: auto;

  text-align: center;

  h2 {
    font-size: 35px;
    font-weight: bold;
    &:hover {
      font-size: 40px;
      transition: font-size 0.2s;
      -webkit-transition: font-size 0.2s;
    }
    transition: font-size 0.2s;
    -webkit-transition: font-size 0.2s;
  }
  h3 {
    font-size: 15px;
    font-weight: bold;
    &:hover {
      font-size: 20px;
      transition: font-size 0.2s;
      -webkit-transition: font-size 0.2s;
    }
    transition: font-size 0.2s;
    -webkit-transition: font-size 0.2s;
  }
  margin: 20px 50px;
  .ant-picker-calendar-header {
    padding: 10px 50px;
  }
  &__button-save {
    margin-top: 25px !important;
    font-size: 20px !important;
    i {
      color: $font-light;
    }
  }
}
