@import "../../../../scss/index.scss";
.student-tutor-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 25px 45px;

  .ui.header {
    margin-top: 0 !important;
  }

  .ui.section.divider {
    background-color: $primary_color_dark;
    border-top: 1.5px solid $primary_color_dark !important;
    border-bottom: 1.5px solid $primary_color_dark !important;
    border-radius: 25px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
  }

  transition: 0.2s;
  -webkit-transition: 0.2s;

  &:hover {
    background-color: $primary_color_dark_hover;
    h2 {
      font-size: 30px !important;
      font-style: oblique;
    }
    .ui.section.divider {
      background-color: $primary_color_medium;
      border-top: 5px solid $primary_color_medium !important;
      border-bottom: 5px solid $primary_color_medium !important;
    }
    transition: 0.2s;
    -webkit-transition: 0.2s;
  }

  &__labels {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    margin-top: 25px;
    .ui.grid {
      .row {
        padding: 0;
        .column {
          div {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-bottom: 10px;
            a {
              width: 40%;
              height: max-content;
              min-width: max-content;
              font-size: 15px !important;
              background-color: $primary_color !important;
              color: $font-light !important;
            }
            div {
              width: 60%;
              height: max-content;
              min-width: max-content;
              font-size: 15px !important;
              background-color: $primary_color_light !important;
              color: $font-light !important;
            }
          }
        }
      }
    }
  }
}
