@import "../../../scss/index.scss";

.header-teacher {
  .message {
    margin: 20px 10px;
    background-color: $primary_color !important;
    .fond-message {
      .header {
        text-align: center;
        h3 {
          color: $font-light !important;
          font-weight: bold;
          font-size: 35px;
          transition: 0.2s;
          &:hover {
            font-size: 40px;
            transition: 0.2s;
          }
        }
      }
    }
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 25px 35px;
    text-align: center;
    &__export-options {
      padding-top: 10px;
      &__button-pdf {
        background-color: $color-pdf !important;
      }
      &__button-word {
        background-color: $color-word !important;
      }
      &__button-excel {
        background-color: $color-excel !important;
      }
    }

    &__add-teacher {
      margin-left: 15px;
      &__button-add {
        margin-top: 10px !important;
      }
    }

    .ui.animated.button {
      width: 150px;
      height: 50px;
      margin: 0 10px;
      padding-top: 18px;
      color: $font-light !important;

      .visible.content {
        align-content: center;
        text-align: center;

        &::-webkit-scrollbar {
          display: none !important;
        }
      }

      .hidden.content {
        align-content: center;
        text-align: center;

        &::-webkit-scrollbar {
          display: none !important;
        }
        font-size: 18px;
      }
    }
  }
  &__search {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin: 0 50px;
    .ui.label {
      background-color: transparent;
      color: $primary_color_dark;
    }
    &__search-teacher {
      .ui.search {
        .ui.icon.input {
          input {
            background-color: $primary_color_dark;
            color: $font-light !important;
            font-weight: bold;
          }
          i {
            color: $font-light !important;
            font-weight: bold;
          }
        }
      }
    }

    &__filter-teacher {
      display: flex;
      flex-direction: column;
      margin-left: 50px;

      .ui.labeled.search.selection.dropdown {
        background-color: transparent !important;
        border-color: transparent;
        input {
          background-color: $primary_color_dark !important;
          border-radius: 100px !important;
          color: $font-light !important;
          font-weight: bold;
        }
        .divider.text {
          color: $font-light !important;
          font-weight: bold;
        }
        .divider.default.text {
          color: $font-light !important;
          font-weight: bold;
          opacity: 0.7;
        }
        i {
          color: $font-light !important;
          font-weight: bold;
        }
      }
    }
  }
}
