@import "../../../scss/index.scss";

.ui.form.modify-teacher-form {
  display: grid !important;
  grid-template-columns: 0.4fr 1fr !important;
  grid-gap: 20px;
  height: 100%;
  padding: 20px;

  .teacher-photo {
    position: relative;
    background-color: $primary_color_dark;
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 100px;

    .field-teacher-photo {
      padding: 0;
    }

    img {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      border-radius: 100px;
    }

    .photo-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 100px;
      &:hover {
        background-image: url("../../../assets/img/edit.png");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.5;
      }
      z-index: 2;
    }

    .photo {
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 1;
      border-radius: 100px;
      border: 0.5px solid transparent;
      border-color: $font-light;
    }

    &:hover {
      background-color: $primary_color;
      cursor: pointer;
    }
  }

  .teacher-inputs {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .fields {
      h2 {
        margin: 5px auto;
        color: $font-light;
        font-weight: bold;
      }
    }

    .field {
      width: 100%;

      .disabled {
        opacity: 0.75;
      }

      label {
        color: $font-light;
        font-weight: bold;
      }

      .ui.input {
        input {
          background-color: $primary_color_dark;
          font-size: 16px;
          color: $font-light;
          font-weight: bold;
        }
      }

      &:hover {
        i {
          opacity: 1 !important;
          transition: 0.3s;
        }
      }

      i {
        color: $primary_color_dark;
        background-color: $primary_color_highlight;
      }
    }
  }
}

.ui.form.modify-teacher-form-2 {
  display: grid !important;
  grid-template-columns: 1fr !important;
  grid-gap: 20px;
  height: 100%;
  padding: 20px;

  .teacher-inputs-2 {
    display: grid !important;
    flex-direction: column;

    .fields {
      h2 {
        margin: 5px auto;
        color: $font-light;
        font-weight: bold;
      }
    }

    .error {
      .divider.default.text {
        background-color: transparent;
        color: $color-error-inputs;
      }
    }

    .field {
      width: 100%;

      label {
        color: $font-light;
        font-weight: bold;
      }

      .ui.input {
        input {
          background-color: $primary_color_dark;
          font-size: 16px;
          color: $font-light;
          font-weight: bold;
        }
      }
      &.select-dropdown-special-field {
        display: flex;
        color: $font-light;
        .ui.selection.dropdown {
          background-color: $primary_color_dark;
          font-size: 16px;
          color: $font-light;
          font-weight: bold;
          .search {
            color: $font-light;
            font-weight: bold;
          }
        }
      }
      .ui.active.visible.selection.dropdown {
        .divider.text {
          color: $primary_color_highlight;
        }
      }

      &:hover {
        i {
          opacity: 1 !important;
          transition: 0.3s;
        }
      }

      i {
        color: $primary_color_dark;
        background-color: $primary_color_highlight;
      }
    }
  }
}

.ui.form.modify-teacher-form-3 {
  display: grid !important;
  justify-content: space-between;
  grid-template-columns: 0.6fr 0.4fr !important;
  grid-gap: 20px;
  height: 100%;
  padding: 20px;
  overflow: auto;

  .teacher-inputs-3 {
    display: grid !important;
    flex-direction: column;

    .fields {
      h2 {
        margin: 5px auto;
        color: $font-light;
        font-weight: bold;
      }
    }

    .field {
      width: 100%;

      label {
        color: $font-light;
        font-weight: bold;
      }

      .ui.input {
        input {
          background-color: $primary_color_dark;
          font-size: 16px;
          color: $font-light;
          font-weight: bold;
        }
      }

      &.select-dropdown-special-field {
        display: flex;
        color: $primary_color_highlight;

        .ui.selection.dropdown {
          background-color: $primary_color_dark;
          font-size: 16px;
          color: $font-light;
          font-weight: bold;
          .search {
            color: $font-light;
            font-weight: bold;
          }
        }
        .error {
          .divider.default.text {
            background-color: transparent;
            color: $color-error-inputs;
          }
        }
      }

      .ui.active.visible.selection.dropdown {
        .divider.text {
          color: $primary_color_highlight;
        }
      }

      &:hover {
        i {
          opacity: 1 !important;
          transition: 0.3s;
        }
      }

      i {
        color: $primary_color_dark;
        background-color: $primary_color_highlight;
      }
      .select-special,
      .dropdown-special {
        .visible.menu.transition {
          position: absolute;
          bottom: 100%;
          top: initial;
        }
      }
    }
  }
}

.ui.form.modify-teacher-form-4 {
  display: grid !important;
  grid-template-columns: 1fr !important;
  grid-gap: 20px;
  height: 100%;

  .teacher-documents {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;

    .content-main-dropzone {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      h3 {
        font-size: 14px;
        margin: 15px 0 0 0;
        padding: 0;
        color: $font-light;
        font-weight: bold;
      }
      h4 {
        font-size: 10px;
        margin: 0;
        padding: 0;
        color: $font-light;
        font-weight: bold;
      }
      .content-dropzone-document {
        position: relative;
        background-color: $primary_color_dark;
        margin: 10px auto;
        display: block;
        width: 125px;
        height: 125px;
        border-radius: 40px;
        .documents-hover {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 40px;
          z-index: 2;

          &:hover {
            background-image: url("../../../assets/img/add.png");
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.7;
            cursor: pointer;
          }
        }

        .field-teacher-document {
          .document {
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            z-index: 1;
            border-radius: 40px;
            border: 0.5px solid transparent;
            border-color: $font-light;
          }

          img {
            height: 100%;
            width: 100%;
            margin: auto;
            padding: 20px;
            border-radius: 40px;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .teacher-inputs-4 {
    display: grid !important;
    flex-direction: column;
    .fields {
      h2 {
        margin: 5px auto;
        color: $font-light;
        font-weight: bold;
      }
    }
  }
}

.ui.form.modify-teacher-form-5 {
  .teacher-inputs-5 {
    .fields {
      &.button-group-form {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 32px;
        text-align: center;
        .field {
          .ui.button {
            font-size: 28px;
          }
        }
        p {
          color: $color-error;
          font-weight: bold;
          font-size: 14px;
          margin: 15px 0 0 0;
        }
      }
    }
  }
}

.modify-teacher-form__footer {
  .buttons-left-right {
    background-color: $primary_color_dark;
  }
}

.icon-special {
  width: 36px !important;
  height: 42px !important;
  font-size: 16px !important;
  padding-top: 10px;
  margin: 0 !important;
  border-radius: 6px 0 0 6px;
  background-color: #40525a;
}

.icon-special-select-dropdown {
  width: 38.5px !important;
  height: 42px !important;
  font-size: 16px !important;
  padding-top: 10px;
  border-radius: 6px 0 0 6px;
  background-color: #40525a;
}

.icon-special-select-dropdown-2 {
  width: 38.5px !important;
  height: 42px !important;
  font-size: 16px !important;
  margin: auto !important;
  padding-top: 10px;
  border-radius: 6px 0 0 6px;
  background-color: #40525a;
}
