@import "../../scss/index.scss";

.student {
  &__header {
    position: relative;
    color: $primary_color_dark;
    width: 100%;
    text-align: center;

    h1 {
      font-size: 35px;
      font-weight: bold;
      &:hover {
        font-size: 45px;
        transition: font-size 0.2s;
        -webkit-transition: font-size 0.2s;
      }
      transition: font-size 0.2s;
      -webkit-transition: font-size 0.2s;
    }
  }
  &__content {
  }
}
