@import "../../scss/index.scss";

.profile {
  .fondo-pag {
    .message {
      margin: 20px 10px;
      background-color: $primary_color;
      .fond-message {
        .header {
          text-align: center;
          h3 {
            color: $font-light !important;
            font-weight: bold;
            font-size: 35px;
            transition: 0.2s;
            &:hover {
              font-size: 40px;
              transition: 0.2s;
            }
          }
        }
      }
    }
  }
}
