@import "../../scss/index.scss";

.academy {
  .message {
    margin: 20px 10px;
    background-color: $primary_color !important;
    .fond-message {
      .header {
        text-align: center;
        h3 {
          color: $font-light !important;
          font-weight: bold;
          font-size: 35px;
          transition: 0.2s;
          &:hover {
            font-size: 40px;
            transition: 0.2s;
          }
        }
      }
    }
  }
  .ui.menu {
    margin: 15px !important;
    .item {
      background-color: $primary_color_medium !important;
      color: $font-light !important;
    }
    .active {
      background-color: $primary_color_dark !important;
    }
  }
  .container-pestaña {
    background-color: $primary_color_highlight !important;
  }
}
