.TableCpurseParallel {
  padding: 80px;
  margin-top: -50px;
}
.AsigmentMaterial {
  padding: 80px;
  margin-top: -50px;
}
.TeacherSchedule {
  padding: 80px;
  margin-top: -50px;
}
.ui.fluid.search.selection.dropdown.material-select-academy {
  margin-bottom: 30px;
  background-color: chocolate;
}
