@import "../../../scss/index.scss";

.header-assistance {
  .message {
    margin: 20px 10px;
    background-color: $primary_color !important;
    .fond-message {
      .header {
        text-align: center;
        h3 {
          color: $font-light !important;
          font-weight: bold;
          font-size: 35px;
          transition: 0.2s;
          &:hover {
            font-size: 40px;
            transition: 0.2s;
          }
        }
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 25px 35px;
    text-align: center;

    &__options {
      padding-top: 10px;
      &__button-back {
        background-color: $color-pdf !important;
      }
    }

    .ui.animated.button {
      width: 150px;
      height: 50px;
      margin: 0 10px;
      padding-top: 12px;
      color: $font-light !important;

      .visible.content {
        align-content: center;
        text-align: center;

        &::-webkit-scrollbar {
          display: none !important;
        }
      }

      .hidden.content {
        align-content: center;
        text-align: center;

        &::-webkit-scrollbar {
          display: none !important;
        }
        font-size: 18px;
      }
    }
  }
}
