@import "../../scss/index.scss";

.memorandums {
  .message {
    margin: 20px 10px;
    background-color: $primary_color !important;
    .fond-message {
      .header {
        text-align: center;
        h3 {
          color: $font-light !important;
          font-weight: bold;
          font-size: 35px;
          transition: 0.2s;
          &:hover {
            font-size: 40px;
            transition: 0.2s;
          }
        }
      }
    }
  }
  .form-memorandums {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .table {
    display: grid;
    justify-content: center;
    .list-memorandum {
      background-color: transparent;
      display: table-row;
      font-size: 100% !important;
      text-align: center;
      tr {
        th {
          font-size: 17px;
          padding: 5px 0 !important;
          background-color: $font-dark !important;
        }
      }

      &__status-available {
        &:nth-child(1n) {
          background-color: $primary_color !important;
        }

        &:nth-child(2n) {
          background-color: $primary_color_medium !important;
        }

        transition: 0.2s;
        &:hover {
          transition: 0.2s;
          background-color: $primary_color_highlight_hover !important;
        }
      }
      &__status-blocked {
        &:nth-child(1n) {
          background-color: $primary_color_error !important;
        }

        &:nth-child(2n) {
          background-color: $primary_color_medium_error !important;
        }

        transition: 0.2s;
        &:hover {
          transition: 0.2s;
          background-color: $primary_color_highlight_hover_error !important;
        }
      }
      tr {
        td {
          color: $font-light;
          text-align: center;

          .photo-teacher {
            width: 70px;
            height: 80px;
            margin: auto;
            .ant-image {
              width: 100%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        &:hover {
          td {
            color: $font-light;
          }
        }

        // td {
        //   i {
        //     color: $primary_color_highlight;
        //     &:hover {
        //       color: $primary_color_light;
        //     }
        //   }
        // }
      }
    }
  }

  .input-filtro-info {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
}

.ui.modal {
  h1 {
    color: $font-light;
  }
  .content {
    h3 {
      color: $font-light;
    }
  }
}
