@import "../../scss/index.scss";

.up-ratings {
  display: grid;
  justify-content: center;

  .inputs-dropdown {
    display: flex;
    justify-content: start;
    padding: 15px;

    .list-drop {
      margin: 0 20px;
    }

    .list-drop3 {
      margin: 0 20px;
    }
  }

  .button-calification {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .table {
    display: grid;
    justify-content: center;
    .list-rating-students {
      background-color: transparent;
      display: table-row;
      font-size: 100% !important;
      text-align: center;

      tr {
        th {
          font-size: 17px;
          background-color: $font-dark !important;
        }
      }

      &__status-available {
        &:nth-child(1n) {
          background-color: $primary_color !important;
        }

        &:nth-child(2n) {
          background-color: $primary_color_medium !important;
        }

        transition: 0.2s;
        &:hover {
          transition: 0.2s;
          background-color: $primary_color_highlight_hover !important;
        }
      }
      &__status-blocked {
        &:nth-child(1n) {
          background-color: $primary_color_error !important;
        }

        &:nth-child(2n) {
          background-color: $primary_color_medium_error !important;
        }

        transition: 0.2s;
        &:hover {
          transition: 0.2s;
          background-color: $primary_color_highlight_hover_error !important;
        }
      }
      tr {
        td {
          color: $font-light;
          text-align: center;

          .photo-teacher {
            width: 70px;
            height: 80px;
            margin: auto;
            .ant-image {
              width: 100%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        &:hover {
          td {
            color: $font-light;
          }
        }

        // td {
        //   i {
        //     color: $primary_color_highlight;
        //     &:hover {
        //       color: $primary_color_light;
        //     }
        //   }
        // }
      }
    }
  }
}
