@import "../../scss/index.scss";

.loading {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary_color_highlight;

  .ui.dimmer .ui.loader:after {
    border-color: $primary_color_highlight $primary_color_dark
      $primary_color_dark $primary_color_dark;
  }
}
