@import "../../../scss/index.scss";

.remove-student-form {
  h1 {
    color: $font-light;
    span {
      color: $color-positive;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    .ui.buttons {
      left: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      .positive.button {
        width: 20vh;
      }
      .negative.button {
        width: 20vh;
      }
    }
  }
}
