@import "../../../scss/index.scss";

.activities {
  padding: 150px 20px 10px 10px;

  &__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 30px 0 30px 0;

    h1 {
      font-size: 35px;
      font-weight: bold;
      transition: 0.2s;
      &:hover {
        font-size: 40px;
        transition: 0.2s;
      }
    }

    h4 {
      font-size: 20px;
      font-weight: bold;
      transition: 0.2s;
      &:hover {
        font-size: 25px;
        transition: 0.2s;
      }
    }
  }
  &__content {
    &__grid {
      justify-content: center;
      margin: 100px !important;
    }
  }
}
