@import "../../../scss/index.scss";

.slider-documents {
  text-align: center;
  .ant-image {
    height: 170px !important;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__items {
  }
}
