$primary_color: #042b3d;
$primary_color_dark: #002535;
$primary_color_light: #3b89ac;
$primary_color_medium: #194d55;
$primary_color_highlight: #bfd2d9;

$font-light: #fff;
$font-dark: #000;
$color-error: #f00;

$background_dark: #000;
$background-grey-hover: #305960b6;

$color-word: #2b579a;
$color-pdf: #d92b2b;
