.div-id_curso {
  height: 150px;
  width: 250px;
  margin-left: 50px;
}

.div-input {
  position: relative;
}
.ui.celled.inverted.selectable.striped.padded.table {
  width: 300px;
  height: 100px;
}
.tabla-materias {
  margin-top: -150px;
  width: 521px;
  height: 300px;
  overflow: auto;
}
<<<<<<< HEAD
.ui.form .add-subject-form {
=======
.ui.form {
>>>>>>> 82947a1dc3060c0b2c9e27154fe459c98e02727e
  width: 500px;
  height: 150px;
  margin-left: 500px;
}
.modal-titulos-add-material {
  color: #ffff;
}
<<<<<<< HEAD
.fondo-mof-cel-perfil.content {
  background-color: #194d55 !important;
}
.header.cabeza-modal {
  background-color: #042b3d !important;
  color: aliceblue !important;
}
.actions.botoon-opti-modal {
  background-color: #042b3d !important;
}
.header.fonfo {
  color: aliceblue !important;
}
=======
>>>>>>> 82947a1dc3060c0b2c9e27154fe459c98e02727e
