@import "../../scss/index.scss";

.menu-top {
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo {
      margin-left: 25px;
      padding: 30px;
      width: 50px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    h2 {
      margin-left: 50px;
      font-size: 25px;
      font-weight: bold;
      color: $font-light;
    }
  }

  .ant-menu {
    margin-right: 35px;
    font-size: 18px;
    font-weight: bold;
    .ant-menu-item {
      background-color: $primary_color_dark !important;
    }
  }
}
